
@inject UserManager<ApplicationUser> UserManager

@if (!User.Identity.IsAuthenticated)
{
    <a class="btn btn-outline-success my-2 my-sm-0" style="margin-right: 10px" asp-controller="Account" asp-action="Login">
    <i class="bi bi-box-arrow-in-right"></i> Log In
</a>

<a class="btn btn-outline-primary my-2 my-sm-0" style="margin-right: 10px" asp-controller="Account" asp-action="Register">
    <i class="bi bi-person-plus"></i> Sign Up
    </a>
}
else
{
    @*User Profile Section*@

<div class="dropdown" style="margin-right: 10px">
    <button class="btn btn-outline-success dropdown-toggle" type="button" id="profile-btn" data-bs-toggle="dropdown" aria-expanded="false" style="width:155px">
            Hello @UserManager.GetUserName(User).Split("@").First()
    </button>
    <ul class="dropdown-menu text-center" aria-labelledby="profile-btn">
        <li>
            <a class="dropdown-item fw-bold" asp-action="Index" asp-controller="Orders">
                Orders
            </a>
        </li>
            @if (User.IsInRole("Admin")){
                <li>
                    <a class="dropdown-item fw-bold" asp-action="ListUsers" asp-controller="Account">
                        Users
                    </a>
                </li>
            }
    </ul>
</div>

<form asp-controller="Account" asp-action="Logout">
    <button class="btn btn-outline-danger my-2 my-sm-0">
        Log Out
    </button>
</form>
}


