<div class="row mt-5">
    <div class="col-md-6 offset-3 text-center text-white mt-5">
        <h2>Your account was created successfully</h2>
        <p>You can now log in to your account using your credentials</p>
        <hr />
        <p>Thank You!</p>
    </div>
</div>