@model List<Order>

@{
    ViewData["Title"] = "All Orders";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>List of all your oders</h4>
        </p>
        <table class="table text-white">
            <thead>
                <tr>
                    <th>Order Id</th>
                    <th>Items</th>
                    <th>Total</th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td class="align-middle">@order.Id</td>
                        <td class="align-middle">
                            <ul style="list-style-type:none">
                               @foreach (var item in order.OrderItems)
                                {
                                    <li>
                                        <div class=" alert text-white">
                                            <span class="">
                                                @item.Amount - [@item.Price.ToString("c")] - @item.Movie.Name
                                            </span>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </td>
                        <td class="align-middle">
                            @order.OrderItems.Select(m=>m.Movie.Price * m.Amount).Sum().ToString("c")
                        </td>
                        <td class="align-middle"> - </td>
                    </tr>
                }
            </tbody>
        </tablec>
    </div>
</div>