<div class="row mt-5">
    <div class="col-md-6 offset-3 text-center text-white mt-5">
        <h2>Order Completed Successfully</h2>
        <p>You can check all your orders in the Order Section of your profile</p>
        <hr />
        <p>Thank You!</p>
    </div>
</div>